* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(119, 183, 156);
}

.header {
  text-align: center;
  background: rgb(73, 118, 95);
  color: rgb(0, 0, 0);
  font-size: 30px;
  height:200px;
  padding-top: 70px;
}

@media screen and (max-width:500px) {
  .header{
    flex-direction: column;
    padding-bottom: 100px;

  }
}

.icon1 {
  position: absolute;
  float: left;
  width: 100%;
  font-size: 15px;
  color: black;
  margin-left:-890px;
  margin-top: 30px;
}

.navbar {
  display: flex;
  background-color: rgb(176, 195, 206);
  font-family:'Times New Roman', Times, serif;
}

/* Style the navigation bar links */
.navbar a {
  color: rgb(0, 0, 0);
  padding: 30px 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.navbar a:hover{
  background-color:  rgb(235, 211, 227);
}
@media screen and (max-width:500px) {
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;

  }
}

/*@media screen and (min-width: 800px) {
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
}*/


/*@media screen and (min-width:1000px) {
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    padding: 1px;
  }
}*/

#Tittle {
 margin: 0;
}


/*-------------------------------------------------------------------------------*/

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  margin:auto;
  padding:20px;
}

@media all and (min-width:700px) {
  .flex-container{
    justify-content: center;
  }
}


/*------------------------------------------- REGISTER FORM ---------------------------------------------*/

.transbox {
  border: 2px solid none;
  height: 1250px;
  /*box-shadow: 2px 3px 20px 10px rgb(237, 203, 168);*/
  background-color:rgb(176, 195, 206);
  opacity: 1;
  border-radius: 1em;
  width:500px;
  margin-top:1%;
  margin-right: 5%;
}
@media screen and (max-width:500px){
  .transbox{
    justify-content: center;
    height:1250px;
    width:100%;
    padding-bottom: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
   
  }
}

/*@media screen and (min-width: 700px){
  .transbox{
    justify-content: center;
    height:1250px;
    width:100%;
    margin-left: 9%;
   
  }
}*/

/*@media screen and (min-width: 300px){
  .transbox{
    justify-content: center;
   flex-direction: column;
}
}*/

.transbox p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
  text-align: center;

}

input[type=text1] {
  width: 90%;
  padding: 5px 5px;
  margin-top: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
}

Label[type=L] {
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;

}

#psw {
  position: relative;
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;

}

#psw1 {
  position:relative;
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;

}
span {
  position: absolute;
  margin-top:20px;
  margin-left: -25px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: rgb(0, 0, 0);
}

#span1 {
  transform: translate(0, -50%);
  cursor: pointer;
  color:  rgb(0, 0, 0);
}

.sub {
  position: relative;
  background-color:  rgb(235, 211, 227);
  padding: 11px 11px 11px 11px;
  border: none;
  border-radius: 1em;
  color: rgb(0, 0, 0);
  font-weight:600;
  margin-top:45px;
  margin-left: 10px;
  width:90%;
}

@media screen and (max-width:500px){
  .sub{
    padding:10px 10px;
    margin-top: 22px;
    margin-left: 9px;
    width:90%;
  }
}

#namefield {
  position: absolute;
  margin-top:-10px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#usernamefield {
  position: absolute;
  margin-top:-5px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#emailfield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#streetfield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}


#suitefield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}
#cityfield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

 
#zipcodefield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}
#phonefield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#websitefield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#companyfield {
  position: absolute;
  margin-top:-6px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}



#passfield {
  position: absolute;
  margin-top:10px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#passcfield {
  position: absolute;
  margin-top:10px;
  margin-left:15px;
  font-size: 15px;
  padding: 6px 0 4px;
  color: red;
  display: block;
}

#eye2 {
  display: none;
}

#eye21 {
  display: none;
}

/*------------------------------------------------- NEW CALCOLATER ----------------------------------------------*/
/*
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  border-radius: 5px;
  background-color: rgb(235, 211, 227);
  padding: 20px;
  border-radius: 1em;
  height: 500px;
  margin:auto;
  margin-top:1%;
  padding-top:0.7%;
  padding-bottom: 0.5%;
}

@media screen and (max-width:500px){
  .container{
    width:100%;
    margin: auto;
    height: 380px;
    margin-top:15px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-top: 7.3%;
    padding-bottom: 5%;
    
  }
}

#display{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:rgb(227, 219, 219);
  height: 18%;
  font-size: 48px;
  padding: 20px;
  margin:auto;
  border:1px solid;
  border-radius: 8px;
}

@media screen and (max-width:500px){
  #display{
    padding-bottom: 15%;
    padding-top: 1%;
  }
}

.divall{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  padding-top: 1.5%;
  /*flex-wrap: wrap;
}

.button{
  flex:25%;
  padding:10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  background-color:rgb(191, 203, 205);
  padding-left: 5px;
  padding-right: 5px;
  margin-right:1px;
  margin-left:1px;
  height: 80%;
  
}
*/
/*----------------------------------------- LIST ----------------------------------------------------------------*/

.transboxList {
  position: relative;
  height: 1250px;
  /*box-shadow: 2px 3px 20px 10px rgb(237, 203, 168);*/
  background-color:rgb(176, 195, 206);
  opacity: 1;
  border-radius: 1em;
  margin-top: 1%;
  width:1000px;
  margin-left: 10%;
  overflow-x: scroll;
}


@media screen and (max-width:500px){
  .transboxList{
    height: 1100px;
    width:100%;
    margin:auto;
    margin-top:15px;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

/*@media screen and (min-width: 700px){
  .transboxList{
    justify-content: center;
    height:1250px;
    width:100%;
    margin-left: -0.5%;
   
  }
}*/

#pl {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  padding-left:30px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

#thefilter {
  position: relative;
  width:980px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('search.png');
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 50px;
  transition: width 0.4s ease-in-out;
  margin-left: 10px;
  font-size: 20px;
  margin-top:35px;
}
  
  @media screen and (max-width: 500px){
    #thefilter{
      width:95%;
    }
  }
  
  @media screen and (max-width: 300px){
    #thefilter{
      width:200px;
    }
  }
  /*@media screen and (max-width:1000px){
    #thefilter{
       width:95%;
     }
   } */

  #FB{
    width:15%;
    height: 5;
    background-color:  rgb(235, 211, 227);
    padding: 11px 11px 11px 11px;
    border: none;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    font-weight:600;
    margin-top:1%;
    margin-left:9px;
    font-size: 15px;

  }
  @media screen and (max-width:500px){
   #FB{
      padding:10px 10px;
      margin-top: 22px;
      margin-left: 9px;
      width:90%;
    }
  }

  /*@media screen and (max-width:1000px){
    #FB{
       padding:10px 10px;
       margin-top: 22px;
       margin-left: 9px;
       width:97%;
     }
   } */
#table {
  position:relative;
  margin: auto;
  margin-top: 15px;
  border: 1px solid rgb(0, 0, 0);
  width: 90%;
  text-align: center;
  font-size: 20px;
}

#tr {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

#th {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;

}

#td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;

}




/*-----------------------------------FOTER PART------------------------------------------------------*/
.footer {
  background-color:  rgb(73, 118, 95);
  height: 350px;
  width:100%;
  margin-top: 200px;
}

@media screen and (max-width:500px) {
  .footer{
    flex-direction: column;
    bottom: 0px;
    margin-top:50%;
    height: 250px;
  }
}

/*@media screen and (min-width: 300px) {
  .footer{
    margin-top:1580px;
    width:1500px;
  }
}*/
.footer p {
  color: rgb(17, 17, 17);
  font-size: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#pF1 {
  font-weight: 600;
  padding-top: 3%;
}

#pF2 {
  font-size: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
}

#pF3 {
  font-size: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
 
}